.counter {
  display: flex;
  padding: 0 20px;
  flex-flow: column nowrap;
  justify-content: center; }
  .counter .arrow-up {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid #f39c12; }
  .counter .arrow-down {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #f39c12; }
  .counter .disable {
    pointer-events: none;
    border-top: 60px solid darkgray; }
  .counter h2 {
    width: 120px;
    text-align: center;
    font-size: 50px;
    color: antiquewhite; }
