.counter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .counter .arrow {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
    .counter .arrow.up {
      border-bottom: 60px solid #2ecc71; }
      .counter .arrow.up.disable {
        pointer-events: none;
        border-bottom: 60px solid darkgray; }
    .counter .arrow.down {
      border-top: 60px solid #2ecc71; }
      .counter .arrow.down.disable {
        pointer-events: none;
        border-top: 60px solid darkgray; }
  .counter h2 {
    font-size: 50px;
    color: #3498db; }
